<app-landing-nav />

<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <h2 class="m-2 text-center text-2xl font-bold tracking-tight text-gray-900">
        Sign in to your account
    </h2>
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form class="space-y-6" (ngSubmit)="login()">

            <!-- Username -->
            <div>
                <label for="username" class="block text-sm font-medium text-gray-900">
                    Username
                </label>

                <div class="mt-2">
                    <input [(ngModel)]="account.username" id="username" name="username" type="text" required class="block w-full rounded-md bg-white px-3 py-1.5 text-gray-900
                   outline outline-1 outline-gray-300 placeholder:text-gray-400
                   focus:outline-2 focus:outline-[#3A5A40] sm:text-sm" />
                </div>
            </div>

            <!-- Password -->
            <div>
                <div class="flex items-center justify-between">
                    <label for="password" class="block text-sm font-medium text-gray-900">
                        Password
                    </label>

                    <a href="#" class="text-sm font-semibold text-[#3A5A40] hover:text-[#2F4A34]">
                        Forgot password?
                    </a>
                </div>

                <div class="mt-2 relative">
                    <input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="account.password" id="password"
                        name="password" type="password" class="w-full px-4 py-2 pr-10 border border-gray-300 rounded-lg
               focus:outline-none focus:ring-2 focus:ring-blue-500" />

                    <span class="absolute inset-y-0 right-0 flex items-center pr-3 cursor-pointer"
                        (click)="togglePassword()">
                        @if (!showPassword) {
                        <!-- Eye Icon -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" viewBox="0 0 20 20"
                            fill="currentColor">
                            <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
                            <path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3
                         s8.268 2.943 9.542 7
                         c-1.274 4.057-5.064 7-9.542 7
                         S1.732 14.057.458 10z
                         M14 10a4 4 0 11-8 0
                         4 4 0 018 0z" clip-rule="evenodd" />
                        </svg>
                        }

                        @if (showPassword) {
                        <!-- Eye Off Icon -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" viewBox="0 0 20 20"
                            fill="currentColor">
                            <path fill-rule="evenodd" d="M3.707 2.293a1 1 0 00-1.414 1.414l14 14
                         a1 1 0 001.414-1.414l-14-14z" clip-rule="evenodd" />
                        </svg>
                        }
                    </span>
                </div>

            </div>

            <!-- Submit -->
            <div>
                <button type="submit" class="flex w-full cursor-pointer justify-center rounded-md
                 bg-[#3A5A40] px-3 py-1.5 text-sm font-semibold text-white
                 shadow-sm transition-colors
                 hover:bg-[#2F4A34]
                 focus-visible:outline-2 focus-visible:outline-offset-2
                 focus-visible:outline-[#3A5A40]">
                    Sign in
                </button>
            </div>

        </form>

        <p class="mt-10 text-center text-sm text-gray-500">
            Don't have an account?
            <a routerLink="/register" class="font-semibold text-[#3A5A40] hover:text-[#2F4A34]">
                Sign up
            </a>
        </p>
    </div>
</div>