<div class="w-full">
    <table class="min-w-full table-auto">
        <!-- Header -->
        <thead class="text-gray-500 text-xs font-semibold border-b border-gray-200">
            <tr>
                <th class="px-4 py-2 text-left">NAME</th>
                <th class="px-4 py-2 text-left">LAST MODIFIED</th>
                <th class="px-4 py-2 text-left">SIZE</th>
            </tr>
        </thead>

        <!-- Body -->
        <tbody class="text-gray-700 text-sm">
            @for (data of data; track $index) {
            <tr class="border-b border-gray-100
                       hover:bg-[#F1F5F3]
                       transition cursor-pointer">

                <td class="px-1 py-2 flex items-center gap-2">
                    <!-- File icon -->
                    @if (data.size > 0) {
                    <svg class="w-5 h-5 text-[#6B8E7D]" fill="none" stroke="currentColor" stroke-width="2"
                        viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M4 16V4a2 2 0 012-2h6l6 6v8a2 2 0 01-2 2H6a2 2 0 01-2-2z" />
                    </svg>
                    }

                    @if (data.size == 0) {
                    <svg class="w-5 h-5 text-[#6B8E7D]" fill="none" stroke="currentColor" stroke-width="2"
                        viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M3 7a2 2 0 012-2h4l2 2h6a2 2 0 012 2v7a2 2 0 01-2 2H5a2 2 0 01-2-2V7z" />
                    </svg>
                    }

                    <span class="hover:text-[#3A5A40] transition">
                        {{ data.name }}
                    </span>
                </td>

                <td class="px-1 py-2 text-gray-500">
                    <!-- {{ file.last_modified | date:'longDate' }} -->
                </td>

                @if (data.size == 0) {
                <div class="px-1 py-2 text-gray-400">
                    ---
                </div>
                }

                @if (data.size > 0) {
                <td class="px-1 py-2 text-gray-500">
                    {{ data.size }} KB
                </td>
                }

                <td>
                    <app-file-folder-operations [file_name]="data.name" />
                </td>

            </tr>
            }
        </tbody>
    </table>
</div>