<aside class="h-full bg-white border-r border-gray-200
         flex flex-col transition-all duration-300">
    <!-- Logo -->
    <a routerLink="/home-cloud/home" class="p-6 border-b border-gray-200 hover:bg-gray-50 transition">
        <h1 class="text-xl font-bold text-gray-900 flex items-center gap-3">
            <img src="file-cloud.png" alt="">
            <span>Home Cloud</span>
        </h1>
    </a>

    <!-- Add button -->
    <button class="cursor-pointer p-3 hover:bg-gray-50 transition">
        <app-add-data />
    </button>

    <!-- Navigation -->
    <nav class="flex-1 p-4">
        <ul class="space-y-1">
            <!-- Folders -->
            <li>
                @for (data of folder; track $index; let i = $index) {
                <a routerLinkActive="bg-[#E8F0EB] text-[#3A5A40]" (click)="toggle(i)"
                    class="flex items-center gap-3 px-2 py-2 text-gray-700 rounded-lg hover:bg-[#F1F5F3] transition-colors group cursor-pointer">

                    <svg class="w-5 h-5 text-gray-500 group-hover:text-[#3A5A40]" fill="none" stroke="currentColor"
                        viewBox="0 0 24 24" (click)="onSelect(data.folder_name)">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z" />
                    </svg>
                    <span class="font-medium" (click)="nav(data.folder_name)">
                        {{ data.folder_name }}
                    </span>
                </a>

                @if (selectedIndex === i) {
                @for (item of folderInside; track $index) {
                <div (click)="insideFolder(data.folder_name)" class="ml-9 mt-1 text-sm text-gray-500 cursor-pointer">
                    <p (click)="onSelect(data.folder_name)">{{item.name}}</p>
                </div>
                }
                }

                }
            </li>
        </ul>
    </nav>
</aside>