<div>
    <button class="border border-gray-300 rounded p-2 cursor-pointer
               text-gray-700 hover:bg-[#F1F5F3] transition" (click)="showConfig()">
        Settings
    </button>
</div>

@if(show) {
<div class="fixed right-10 mt-1 z-[9999]
           w-30 bg-white
           border border-gray-200
           rounded-md shadow-sm">

    <button (click)="showOperations()" class="w-full text-left text-sm text-gray-700
               hover:bg-[#F1F5F3] hover:text-[#3A5A40]
               flex items-center gap-2 cursor-pointer
               px-3 py-2 transition justify-center">
        Config
    </button>

    <button (click)="showLogOut()" class="w-full text-left text-sm text-gray-700
               hover:bg-[#F1F5F3] hover:text-[#3A5A40]
               flex items-center gap-2 cursor-pointer
               px-3 py-2 transition justify-center">
        Sign out
    </button>
</div>
}

@if (showOut) {
<div class="fixed inset-0 z-[9999] flex items-center justify-center bg-black/40">
    <div class="w-full max-w-sm rounded-lg bg-white p-6 shadow-lg">
        <h2 class="mb-4 text-lg font-semibold text-gray-800">
            Are you sure you want to log out?
        </h2>

        <div class="flex justify-end gap-3">
            <button (click)="logout()" class="cursor-pointer rounded-md
                       border border-[#3A5A40]
                       px-4 py-2 text-sm
                       text-[#3A5A40]
                       hover:bg-[#3A5A40] hover:text-white
                       transition">
                Sign out
            </button>

            <button (click)="showOut = false" class="cursor-pointer rounded-md border
                       px-4 py-2 text-sm text-gray-600
                       hover:bg-gray-100 transition">
                Cancel
            </button>
        </div>
    </div>
</div>
}

@if (showOp) {
<app-account-settings />
<!--<div class="fixed inset-0 z-[9999] flex items-center justify-center bg-black/40">
    <div class="w-full max-w-md rounded-xl bg-white p-6 shadow-xl">

<h2 class="mb-6 border-b pb-3 text-lg font-semibold text-gray-800">
    Settings
</h2>

<button (click)="ShowD()" class="border rounded p-1 cursor-pointer">Account Data</button>

@if (showData) {
@for (item of account; track $index) {
<div class="space-y-4">

    <div>
        <label class="mb-1 block text-sm font-medium text-gray-700">
            Username
        </label>
        <input type="text" [(ngModel)]="item.username" class="w-full rounded-md border border-gray-300 px-3 py-2 text-sm
                 focus:border-black focus:outline-none focus:ring-1 focus:ring-black" />
    </div>


    <div>
        <label class="mb-1 block text-sm font-medium text-gray-700">
            Email
        </label>
        <input type="email" [(ngModel)]="item.email" class="w-full rounded-md border border-gray-300 px-3 py-2 text-sm
                 focus:border-black focus:outline-none focus:ring-1 focus:ring-black" />
    </div>

    <div>
        <label class="mb-1 block text-sm font-medium text-gray-700">
            Password
        </label>
        <input type="password" [(ngModel)]="item.password" class="w-full rounded-md border border-gray-300 px-3 py-2 text-sm
                 focus:border-black focus:outline-none focus:ring-1 focus:ring-black" />
    </div>

</div>
}
}
<div class="mt-6 flex justify-end gap-3">
    <button (click)="showOp = false" class="rounded-md border px-4 py-2 text-sm text-gray-600
               hover:bg-gray-100 transition cursor-pointer">
        Cancel
    </button>

    <button class="rounded-md bg-black px-4 py-2 text-sm text-white
               hover:bg-gray-800 transition cursor-pointer">
        Save
    </button>
</div>

</div>
</div> -->
}